openapi: 3.0.3
info:
  title: Kawaii Auth API
  version: 1.0.0
  description: API for user registration and authentication with encrypted session header
servers:
  - url: https://auth.getkawai.com
paths:
  /register:
    post:
      summary: Register a new user
      description: Registers a new user. Requires X-Kawai-Session header with AES-GCM encrypted value of 'kawaii-ok'.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - address
              properties:
                address:
                  type: string
                  description: Solana address
      parameters:
        - in: header
          name: X-Kawai-Session
          required: true
          schema:
            type: string
          description: AES-GCM encrypted value of 'kawaii-ok' using secret key 'getElementsByTagName', base64 encoded (iv + ciphertext)
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Bad request (missing fields)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Unauthorized (missing or invalid kawaii session)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '409':
          description: Conflict (address already registered)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
  /introspect:
    post:
      summary: Introspect an API key
      description: Validates an API key and returns associated address information
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - api_key
              properties:
                api_key:
                  type: string
                  description: The API key to validate
      responses:
        '200':
          description: API key introspection result
          content:
            application/json:
              schema:
                type: object
                properties:
                  active:
                    type: boolean
                    description: Whether the API key is valid and active
                  address:
                    type: string
                    description: The address associated with the API key (if active)
                  reason:
                    type: string
                    description: Reason for inactive API key (if not active)
        '400':
          description: No API key provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  active:
                    type: boolean
                  reason:
                    type: string
        '500':
          description: Introspection error
          content:
            application/json:
              schema:
                type: object
                properties:
                  active:
                    type: boolean
                  reason:
                    type: string
  /cleanup:
    post:
      summary: Delete a user by address (for tests)
      description: Removes a user from the system by their address. Used primarily for testing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - address
              properties:
                address:
                  type: string
                  description: The user address to delete
      responses:
        '200':
          description: User deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Address is required
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '500':
          description: Cleanup error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                                      message:
                      type: string
  /address-exists:
    get:
      summary: Check if address exists
      description: Checks if a user address is already registered. Rate limited to 10 requests per minute per IP.
      parameters:
        - in: query
          name: address
          required: true
          schema:
            type: string
          description: The address to check for existence
      responses:
        '200':
          description: Address existence result
          content:
            application/json:
              schema:
                type: object
                properties:
                  exists:
                    type: boolean
                    description: Whether the address exists in the system
        '400':
          description: Address is required
          content:
            application/json:
              schema:
                type: object
                properties:
                  exists:
                    type: boolean
                  message:
                    type: string
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  exists:
                    type: boolean
                  message:
                    type: string
components:
  schemas:
    AuthResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the operation was successful
        message:
          type: string
          description: Human-readable message about the operation result
        apiKey:
          type: string
          description: Generated API key (only returned on successful registration) 